@font-face {
  font-family: font1;
  src: url(../font/RobotoCondensed-Regular.ttf); }
body {
  font-family: font1; }

.hotline {
  background-color: #00aeef;
  position: relative;
  height: 40px; }
  .hotline .imagehotline {
    position: absolute;
    right: 320px;
    top: 8px; }
  .hotline .phonenumber {
    position: absolute;
    right: 170px;
    top: 9px;
    border-right: solid 2px;
    padding-right: 5px; }

.navbar.navbar-default {
  background: transparent;
  border: none;
  margin-top: 8px; }

.collapse.navbar-collapse.menu {
  float: right; }

li#menu {
  border-left: solid 1px; }
  li#menu a {
    padding-bottom: 2px;
    padding-top: 2px; }

.barsearch {
  background: url(../images/icon_search.png) no-repeat 350px;
  height: 42px;
  border: solid 1px;
  border-color: #f3ecec;
  width: 400px;
  float: right;
  border-radius: 10px; }

.search {
  color: #ccc5c5;
  font-size: 16px;
  padding-top: 8px;
  padding-left: 10px; }

.barsearchs {
  margin-bottom: 40px; }

.slide {
  margin-top: 20px;
  height: 350px; }

.slide2 {
  width: 270px;
  height: 350px;
  background: #ebebeb;
  text-align: center;
  padding-top: 10px;
  float: left;
  border: solid 1px #00aeef; }

.slick-slide {
  display: inline; }

.name_product_slide2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px; }

.price_product_slide2 {
  color: red;
  font-size: 14px;
  font-weight: bolder;
  background: url(../images/icon_mua.png) no-repeat 180px;
  margin-right: 25px;
  height: 32px; }
  .price_product_slide2 .price {
    padding-top: 5px;
    text-align: left;
    padding-left: 40px; }

.sanphamnoibat {
  margin-bottom: 20px;
  margin-top: 20px; }

.title_feature {
  height: 40px;
  background-color: #00aeef;
  color: white;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 14px; }

.product_feature {
  background-color: #ebebeb;
  width: 182px;
  height: 238px;
  text-align: center;
  padding-top: 10px;
  border: solid 1px blue;
  margin-left: -14px;
  margin-bottom: 10px; }

.name_product_feature {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px; }

.price_product_feature {
  color: red;
  font-weight: bolder;
  text-align: left;
  background: url("../images/icon_mua.png") no-repeat 110px;
  height: 40px; }

.price_product-feature {
  padding-left: 10px;
  padding-top: 10px; }

.sanphamnoibat {
  margin-bottom: 20px; }

.partners {
  height: 200px; }

.title_partner {
  background-color: #00aeef;
  width: 200px;
  height: 40px;
  color: white;
  padding-top: 10px;
  padding-left: 12px;
  font-size: 16px;
  margin-bottom: 40px; }

.slide_partner {
  padding-left: 20px; }

.image_slide_partner {
  width: 220px;
  float: left;
  text-align: center; }

.title_article {
  background-color: #00aeef;
  color: white;
  height: 40px;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-left: 15px; }

.image_video {
  padding-left: 16px; }

.quote_article {
  padding-left: 28px;
  height: 340px;
  position: relative; }

.next_article {
  position: absolute;
  bottom: 5px;
  right: 9px;
  color: #00aeef; }

li#quote {
  margin-bottom: 24px;
  border-bottom-style: dashed;
  border-width: 1px;
  list-style: none;
  background: url(../images/icon_li.png) no-repeat 1px 5px;
  padding-left: 12px; }

li#quote_video {
  list-style: none;
  background: url(../images/icon_li.png) no-repeat 1px 5px;
  padding-left: 12px; }

ul {
  padding-left: 18px; }

.footers {
  height: 480px;
  background-color: #00aeef;
  margin-top: 40px; }

footer {
  text-align: center; }

.title_policy {
  color: white;
  margin-top: 45px; }

.col.xs-6.col-sm-3.footer {
  padding-left: 50px; }

li#footer {
  color: black;
  padding-top: 10px;
  list-style: none;
  background: url(../images/icon_stick.png) no-repeat 0px 14px;
  padding-left: 15px;
  margin-left: -23px; }

.thongtinlienhe {
  text-align: center;
  margin-top: 40px; }
  .thongtinlienhe .company {
    color: white;
    font-size: 16px;
    font-weight: bold; }
  .thongtinlienhe .address {
    font-size: 15px; }
  .thongtinlienhe .hotline_footer {
    font-size: 15px; }
  .thongtinlienhe .email {
    font-size: 15px; }

/*# sourceMappingURL=style.css.map */
