/*-------------------------Menu Doc -------------------------------*/
.ddsmoothmenu ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    width: 204px;
}
.ddsmoothmenu ul li {
    position: relative;
}
/* Top level menu links style */
.ddsmoothmenu ul li a {
    background: url('../images/bg_menu_left.png') no-repeat;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding-left: 33px;
    line-height: 28px;
    height: 31px;
    display: block;
}
.ddsmoothmenu ul li a:focus, .ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li a:active {
    color: #F3912E;
    font-weight: bold;
    text-decoration:none;
}
/*Sub level menu items */
.ddsmoothmenu ul li ul {
    height:32px;
    line-height:32px;
    color:#000;
    position: absolute;
    width: auto;
    min-width:190px;
    white-space:nowrap;
    top: 0;
    left: 0;
    visibility: hidden;
}
.ddsmoothmenu ul li ul li a {
    line-height:30px;
    margin: 0;
	text-transform: none;
}
.ddsmoothmenu ul li ul li ul li a {
    line-height:30px;
    margin: 0;
	text-transform: uppercase;
}
.ddsmoothmenu ul li ul li a:hover {
    color: #000;
    text-decoration:none;
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu ul li {
    float: left;
    height: 1%;
}
* html .ddsmoothmenu ul li a {
    height: 1%;
}
/* End */


.ddsmoothmenu3{
    font-size: 12px;
    position: relative;
    z-index: 18;
}
.ddsmoothmenu3 ul{
    z-index:100;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu3 ul li{
    background: url('../images/menu_hover.png') repeat-x;
    position: relative;
    display: inline;
    float: left;
    z-index: 5000;
}
.ddsmoothmenu3 ul li:last-child{background:none;}
/*Top level menu link items style*/
.ddsmoothmenu3 ul li a {
    font-family: "Swiss";
    text-transform: uppercase;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 43px;
    padding: 0 25px;
    text-decoration: none;
}
* html .ddsmoothmenu3 ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}
.ddsmoothmenu3 ul li a:hover{
    background-color: #ff0000;
    color: #FFF;
    text-decoration: none;
}

/*1st sub level menu*/
.ddsmoothmenu3 ul li ul{
    position: absolute;
    left: 0;
    padding-left: 0;
    display: none;
    visibility: hidden;
    z-index: 9000;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu3 ul li ul li ul{
    top: 0;
    padding-left: 0;
}

/* Sub level menu links style */
.ddsmoothmenu3 ul li ul li a{
    width: 180px;
    font-size: 14px;
    color: #fff;
    margin: 0;
    line-height: 16px;
    border-top-width: 0;
    border-bottom: 1px solid gray;
    background: #e10000;
    opacity: 0.9;
	text-transform: none;
	padding: 6px 10px 7px 10px;
    z-index: 5001;
	text-align: left;
}
.ddsmoothmenu3 ul li ul li a:hover{
    background: #ff0000;
    color: #fff;
    
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu3 ul li {
    float: left;
    height: 1%;
}
* html .ddsmoothmenu3 ul li a {
    height: 1%;
}


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass {
    display:none;
}
.rightarrowclass {
    display:none;
}
/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow {
    display: none;
    background: none;
}
.toplevelshadow {
}